.App {
  text-align: center;
}

h1{
  margin: 0;
}
h2{
  margin: 0;
}
ul{
  margin: 0;
}

@font-face {
  font-family: "Thin";
  src: local("Nexa-Thin"),
    url("./fonts/Nexa-Thin.otf") format("opentype");
}
@font-face {
  font-family: "ThinItalic";
  src: local("Nexa-ThinItalic"),
    url("./fonts/Nexa-ThinItalic.otf") format("opentype");
}
@font-face {
  font-family: "Regular";
  src: local("Nexa-Regular"),
    url("./fonts/Nexa-Regular.otf") format("opentype");
}
@font-face {
  font-family: "RegularItalic";
  src: local("Nexa-RegularItalic"),
    url("./fonts/Nexa-RegularItalic.otf") format("opentype");
}
@font-face {
  font-family: "Book";
  src: local("Nexa-Book"),
    url("./fonts/Nexa-Thin.otf") format("opentype");
}
@font-face {
  font-family: "BookItalic";
  src: local("Nexa-BookItalic"),
    url("./fonts/Nexa-BookItalic.otf") format("opentype");
}
@font-face {
  font-family: "Bold";
  src: local("Nexa-Book"),
    url("./fonts/Nexa-Thin.otf") format("opentype");
}
@font-face {
  font-family: "BoldItalic";
  src: local("Nexa-BoldItalic"),
    url("./fonts/Nexa-BoldItalic.otf") format("opentype");
}
